<div class="outer-wrapper">
  <div class="functionality">
    <a class="anchor" href="/courses">COURSES</a>
  </div>
  <h1 class="main-title">Bob Fornal</h1>
  <h2 class="main-sub-title">Conference Information</h2>

  <div class="section speaker">
    <div class="action" (click)="toggleSpeaker($event)">
      @if (speakerActive === false) {
        <span>+</span>
      } @else {
        <span>-</span>
      }
    </div>
    @if (speakerActive === false) {
      <div class="content">
        <div class="content-title">Biography Information</div>
        <content-section [circleOnly]="true" />
      </div>
    } @else {
      <div class="content active">
        <div class="content-title">Biography Information</div>
        <content-section [biography]="true" [last]="true">
          <div class="image" image>
            <img class="img" [src]="speaker.photoUrl" />
          </div>
          <content-biography content [speaker]="speaker" />
        </content-section>
      </div>
    }
  </div>

  <div class="section future-events">
    <div class="action" (click)="toggleFutureEvents($event)">
      @if (futureEventsActive === false) {
        <span>+</span>
      } @else {
        <span>-</span>
      }
    </div>
    @if (futureEventsActive === false) {
      <div class="content">
        <div class="content-title">Future Events</div>
        <content-section [circleOnly]="true" />
      </div>
    } @else {
      <div class="content active">
        <div class="content-title">Future Events</div>
        @for(event of futureEvents; track event; let index = $index; let last = $last) {
          <content-section [index]="index" [last]="last">
            <content-conference [data]="getData(event)" [sessions]="getSessions(event.id)"></content-conference>
          </content-section>
        }
      </div>
    }
  </div>

  <div class="section past-events">
    <div class="action" (click)="togglePastEvents($event)">
      @if (pastEventsActive === false) {
        <span>+</span>
      } @else {
        <span>-</span>
      }
    </div>
    @if (pastEventsActive === false) {
      <div class="content">
        <div class="content-title">Past Events</div>
        <content-section [circleOnly]="true" />
      </div>
    } @else {
      <div class="content active">
        <div class="content-title">Past Events</div>
        @for(event of pastEvents; track event; let index = $index; let last = $last) {
          <content-section [index]="getPastOffset(index)" [last]="last">
            <content-conference [data]="getData(event)" [sessions]="getSessions(event.id)"></content-conference>
          </content-section>
        }
      </div>
    }
  </div>
</div>