.outer-wrapper {
  background: url("/assets/images/grid--green.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: #69f0ae;
  font-family: Arial, sans-serif;

  width: calc(100% - 24px);
  overflow: auto;

  .functionality {
    position: absolute;
    left: 4.5em;
    top: 1em;
  }

  .main-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
  }
  .main-sub-title {
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
  }

  .section {
    display: flex;
    flex-direction: row;
    margin: 0 2em 1em 2em;

    .content-title {
      font-size: 2em;
    }

    .action {
      cursor: pointer;
      display: inline-block;
      font-family: 'Courier New', Courier, monospace;
      font-size: 3em;
      font-weight: bold;
      padding: 0.25em 0.5em;

      &:hover {
        filter: brightness(75%);
      }
    }
    .content {
      padding: 0.75em 0.25em;
      margin-bottom: 1em;
      width: calc(100% - 10em);

      .title {
        font-size: 2em;
      }
    }
  }

  .image {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    
    .img {
      border-radius: 1em;
    }
  }
}