.conference-outer-wrapper {
  display: inline-block;
  padding: 1em;
  background-color: rgba(100, 100, 100, 0.25);

  .conference-inner-wrapper {
    display: inline-block;
    text-align: left;
  }

  .conference-title {
    font-weight: bold;
  }
}
