<div class="panel-wrapper">
  @if (editing === false) {
    <div class="panel--title" [innerHTML]="title"></div>

    <div class="panel--content-wrapper">
      <div class="panel--text" [class]="fontsize" [innerHTML]="text"></div>
    </div>  
  } @else {
    <input
      type="text"
      placeholder="Title"
      data-editing="title"
      [attr.data-required]="true"
      [value]="title" />
    <button class="btn save" mat-flat-button color="accent" (click)="saveEvent()">Save</button>
    <button class="btn cancel" mat-flat-button color="accent" (click)="cancelEvent()">Cancel</button>
    <button class="btn notes" mat-flat-button color="accent" (click)="editNotes()">Edit Notes</button>

    <div class="panel--content-wrapper">
      <textarea
        class="panel--text text"
        data-editing="text"
        [attr.data-required]="true"
        [innerText]="text"></textarea>
    </div>

  }
</div>