
.panel-single-wrapper {
  width: calc(100% - 2em);
  height: calc(100% - 2em);

  .panel-single--title {
    position: absolute;
    font-size: 2.8rem;
    font-weight: bold;
    top: 75px;
    left: 50px;
    width: calc(100% - 132px);
  }

  .panel-single--content-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 4em;
    width: calc(100% - 12em);
    height: calc(100% - 18em);
  }
  .panel-single--text {
    color: #eeeeee;
    font-size: 1.5rem;
    font-weight: normal;
    margin-right: 1em;
    margin-left: 1em;
    box-sizing: border-box;

    padding: 1em;
    background-color: rgba(100, 100, 100, 0.5);
    height: 100%;
  }
}