<edit-buttons
  [editing]="editing"
  [toggleView]="toggleView"
  [saveEvent]="saveEvent"
  [cancelEvent]="cancelEvent"
  [editNotes]="editNotes"
  (toggle)="setView($event)">
</edit-buttons>

<div class="panel-wrapper">
  @if (editing === false || toggleView === true) {
    <div class="panel--title" [innerHTML]="title"></div>

    <div class="panel--content-wrapper">
      <div class="panel--text" [class]="fontsize" [innerHTML]="text"></div>
    </div>  
  } @else {
    <input
      type="text"
      placeholder="Title"
      data-editing="title"
      [attr.data-required]="true"
      [value]="title" />
    <div class="panel--content-wrapper">
      <textarea
        class="panel--text text"
        data-editing="text"
        [attr.data-required]="true"
        [innerText]="text"></textarea>
    </div>
  }
</div>