<div class="outer-wrapper">

  <div class="organization">
    <div class="organization-wrapper">
      <div class="home-navigation">
        <button class="btn" mat-flat-button routerLink="/">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="wrapper-title">{{ title }}</div>
      <div class="global-style" [innerText]="getStyle()"></div>
    </div>
  </div>
  
  <div class="editor-space">
    <div class="editor-wrapper">
      <mat-card
        [class]="editClasses(slide.key)" [class.not-included]="slide.included === false"
        [attr.slide.key]
        *ngFor="let slide of keyStatuses">
        <mat-card-header>
          <mat-card-title>
            {{ getSlidePatternTitle(slide.key) }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-body">
          Type: {{ getStructureType(slide.key) }}
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>EDIT</button>
        </mat-card-actions>
      </mat-card>
      <!-- <div class="slide-section" [class.not-included]="slide.included === false" [attr.data-group]="slide.key" *ngFor="let slide of keyStatuses">
        <ng-container [ngSwitch]="true">

          <ng-container *ngSwitchCase="hasSlidePattern(slide.key) && getStructureType(slide.key) === 'code-editor'">
            <div class="slide-section--title">{{ getSlidePatternTitle(slide.key) }}</div>

            <mat-form-field class="full-width">
              <mat-label>Title</mat-label>
              <input [attr.data-item]="'title'" matInput [value]="getValue(slide.key, 'title')" />
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Type</mat-label>
              <input [attr.data-item]="'type'" matInput [value]="getValue(slide.key, 'type')" />
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Folder</mat-label>
              <input [attr.data-item]="'folder'" matInput [value]="getValue(slide.key, 'folder')" />
            </mat-form-field>

            <div class="file-wrapper">
              <mat-form-field class="full-width">
                <mat-label>Files</mat-label>
                <input [attr.data-item]="'files'" matInput [value]="getValue(slide.key, 'files').join(', ')" />
              </mat-form-field>
            </div>

            <div class="triggers-wrapper">
              <div class="trigger-wrapper" *ngFor="let trigger of getValue(slide.key, 'triggers')">
                <mat-form-field class="full-width">
                  <mat-label>Trigger Title</mat-label>
                  <input [attr.data-item]="'trigger-title'" matInput [value]="trigger.title" />
                </mat-form-field>

                <mat-form-field class="full-width">
                  <mat-label>Trigger File</mat-label>
                  <input [attr.data-item]="'trigger-file'" matInput [value]="trigger.file" />
                </mat-form-field>

                <mat-form-field class="full-width">
                  <mat-label>Trigger Init</mat-label>
                  <input [attr.data-item]="'trigger-init'" matInput [value]="trigger.init" />
                </mat-form-field>
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="hasSlidePattern(slide.key) && getStructureType(slide.key) !== 'code-editor'">
            <div class="slide-section--title">{{ getSlidePatternTitle(slide.key) }}</div>
            <ng-container *ngFor="let item of getSlidePatternData(slide.key)">
              <ng-container *ngIf="item.codeAdjust === false">
                <ng-container [ngSwitch]="item.key">

                  <ng-container *ngSwitchDefault>
                    <mat-form-field class="full-width">
                      <mat-label>{{ item.title }}</mat-label>
                      <input [attr.data-item]="item.key" matInput [value]="getValue(slide.key, item.key)" />
                    </mat-form-field>
                  </ng-container>
                
                </ng-container>
              </ng-container>
              
              <ng-container *ngIf="item.codeAdjust === true">
                <mat-form-field class="full-width">
                  <mat-label>{{ item.title }}</mat-label>
                  <textarea [attr.data-item]="item.key" matInput (input)="handleChange($event)">{{ getCode(slide.key, item.key) }}</textarea>
                </mat-form-field>
              </ng-container>

            </ng-container>
          </ng-container>

          <ng-container *ngSwitchDefault>
            Working: {{ getStructureType(slide.key) }}
          </ng-container>
        </ng-container>
      </div> -->
    </div>
  </div>

</div>
