.outer-wrapper {
  display: flex;
}

::ng-deep .mdc-list-item__primary-text {
  --mat-option-selected-state-label-text-color: yellow;
}
::ng-deep .mdc-floating-label {
  --mdc-filled-text-field-focus-label-text-color: yellow;
}
::ng-deep .mat-mdc-select-arrow {
  --mat-select-focused-arrow-color: yellow;
}
::ng-deep .mat-mdc-option-pseudo-checkbox::after {
  color: yellow !important;
}

.organization {
  border-right: 2px solid #69f0ae;
  padding: 1rem;
  height: calc(100vh - 4rem);
  width: 25rem;
  overflow-y: auto;

  .home-navigation {
    text-align: center;
  }

  .sections {
    margin-bottom: 1rem;

    .section {
      padding: 1rem 0.5rem;

      &:not(.included) {
        background-color: palevioletred;
        color: white;
      }
      &.included {
        background-color: #69f0ae;
        color: black;
      }
    }
  }

  .global-style {
    background-color: rgba(100, 100, 100, 0.5);
    border: 1px solid #69f0ae;
    padding: 1rem;
    white-space: pre-wrap;
  }
}

.wrapper-title {
  padding: 1rem;
  border: 1px solid silver;
  width: calc(100% - 2rem);
  margin-bottom: 1rem;

  font-weight: bold;
  font-size: 1.8rem;
  text-align: right;
}

.editor-space {
  padding: 1rem;
  height: calc(100vh - 4rem);
  width: calc(100vw - 27rem);
  overflow-y: auto;

  .editor-wrapper {
    width: calc(100% - 1em);

    &.cards {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;  
    }
    &.list {
      background-color: rgba(100, 100, 100, 0.5);

      .tile {
        border: 1px solid #69f0ae;
      }

      .align-left {
        ::ng-deep .mat-grid-tile-content {
          padding-left: 1em;
          justify-content: start;
        }
      }
    }

    .slide-title-svg {
      display: inline-block;
      color: currentColor;
      filter: invert(77%) sepia(8%) saturate(2437%) hue-rotate(94deg) brightness(114%) contrast(88%);
      height: 24px;
      width: 24px;
      margin-right: 0.25em;
    }

    .image-only,
    .image-text {
      background-color: rgb(66, 66, 66);
    }

    .cover-01,
    .cover-slide-02 {
      background-color: rgb(66, 66, 88);
    }

    .panel-single,
    .panel-double,
    .panel-triple {
      background-color: rgb(88, 66, 66);
    }

    .code-editor {
      background-color: rgb(66, 88, 66);
    }

    .slide-title {
      display: flex;
      align-items: center;

      .slide-title-icon {
        margin-right: 0.25em;
      }
    }

    .slide-section {
      padding: 1rem;
      background-color: rgba(50, 50, 50, 0.5);
      border: 1px solid silver;
      width: calc(100% - 4rem);
      margin-bottom: 1rem;
  
      &.not-included {
        background-color: rgba(185, 143, 158, 0.25);
      }
      &.not-included .slide-section--title {
        color: palevioletred;
      }
      .slide-section--title {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
  
      .full-width {
        width: 100%;
      }
    }
  
    .slide-card {
      min-width: 300px;

      &.not-original {
        background: repeating-linear-gradient(-45deg, rgba(255, 255, 0, 0.4), rgba(255, 255, 0, 0.4) 10px, transparent 10px, transparent 20px);
      }

      .card-body {
        color: white;
      }

      .card-actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }
}

.triggers-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1em;

  .trigger-wrapper {
    display: inline-block;
    width: 30%;
    padding: 1em 1em 0 1em;
    background-color: rgba(50, 50, 50, 0.25);
    border: 1px solid silver;
  }
}

.button-toggle-group {
  --mat-standard-button-toggle-shape: 9999px;
  --mat-standard-button-toggle-height: 2em;

  margin-bottom: 1em;

  .button-toggle-option {
    --mat-standard-button-toggle-selected-state-background-color: #69f0ae;
    --mat-standard-button-toggle-selected-state-text-color: #000000;
    
    &:first-of-type {
      padding-left: 1em;
    }
    &:last-of-type {
      padding-right: 1em;
    }
  }
}