.outer-wrapper {
  display: flex;
}

.organization {
  border-right: 2px solid #69f0ae;
  padding: 1rem;
  height: calc(100vh - 4rem);
  width: 30rem;
  overflow-y: auto;

  .home-navigation {
    text-align: center;
  }

  .sections {
    margin-bottom: 1rem;

    .section {
      padding: 1rem 0.5rem;

      &:not(.included) {
        background-color: palevioletred;
        color: white;
      }
      &.included {
        background-color: #69f0ae;
        color: black;
      }
    }
  }

  .global-style {
    background-color: rgba(100, 100, 100, 0.5);
    border: 1px solid #69f0ae;
    padding: 1rem;
    white-space: pre;
  }
}

.wrapper-title {
  padding: 1rem;
  border: 1px solid silver;
  width: calc(100% - 2rem);
  margin-bottom: 1rem;

  font-weight: bold;
  font-size: 1.8rem;
  text-align: right;
}

.editor-space {
  padding: 1rem;
  height: calc(100vh - 4rem);
  width: calc(100vw - 32rem);
  overflow-y: auto;

  .slide-section {
    padding: 1rem;
    background-color: rgba(50, 50, 50, 0.25);
    border: 1px solid silver;
    width: calc(100% - 4rem);
    margin-bottom: 1rem;

    &.not-included {
      background-color: rgba(185, 143, 158, 0.25);
    }
    &.not-included .slide-section--title {
      color: palevioletred;
    }
    .slide-section--title {
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .full-width {
      width: 100%;
    }
  }
}

.files-wrapper {
  padding: 1em;
  display: inline-block;
  width: 40%;
  vertical-align: top;
}
.triggers-wrapper {
  padding: 1em;
  display: inline-block;
  width: 50%;
}
