<div class="center-section-wrapper">
  @if (circleOnly === false) {
    <div class="content-left">
      @if (isLeft() === true) {
        <ng-template [ngTemplateOutlet]="NgContent"></ng-template>
      }
    </div>
    <div class="content-center">
      <div class="content-circle"></div>
      <div class="content-line"></div>
      @if (last === true) {
        <div class="content-circle--last"></div>
      }
    </div>
    <div class="content-right">
      @if (isLeft() === false) {
        <ng-template [ngTemplateOutlet]="NgContent"></ng-template>
      }
    </div>
  } @else {
    <div class="content-all">
      <div class="content-circle"></div>
    </div>
  }
</div>

<ng-template #NgContent>
  <ng-content></ng-content>
</ng-template>
