<div class="panel-wrapper">
  <div class="panel--title" [innerHTML]="title"></div>

  <div class="panel--content-wrapper orient-left">
    <div class="panel--text" [class]="fontsize">
      <div class="panel--text-title">{{ data.question }}</div>
      @for (item of data.answers; track item) {
        <div class="panel--answer-block">
          <span class="panel--answer-block--answer">{{ item.answer }}</span>
          <span class="panel--answer-block--counter" [style]="getWidth(item.key)"></span>
          <span class="panel--answer-block--count">{{ getItemCount(item.key) }}</span>
        </div>
      }
    </div>
    <div class="panel--image">
      <qr-code class="qr-code" [value]="pollingPage" size="400" darkColor="#FFFFFFFF" lightColor="#00000077" errorCorrectionLevel="H" />
    </div>
  </div>

</div>