
.panel-wrapper {

  .panel--content-wrapper {
    align-items: center;

    &.orient-left {
      flex-direction: row;
    }
  }

  .panel--text {
    box-sizing: border-box;
    display: inline-block;
    width: 70%;
  }
  .panel--image .img {
    background-color: #0f0f0f;
    border: 2px solid #0f0f0f;
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
  }
}
