<h2 mat-dialog-title>New Slide</h2>

<mat-dialog-content class="dialog-content">
  <div class="full-width adjusted-height">
    @if (selectedType === null) {
      <div>Slide Type</div>
      <div class="slide-type-selection">
        @for (slideType of slideTypes; track slideType.key;) {
          <button [class]="slideType.key" mat-flat-button color="accent" (click)="selectSlide(slideType)">{{ slideType.title }}</button>
        }
      </div>
    } @else {
      <div class="new-slide-title" [class]="selectedType.key">{{ selectedType.title }}</div>
      @if (selectedStructure !== null) {
        <mat-list>
          @for (key of selectedStructure.ORDER; track key;) {
            <mat-form-field mat-list-item class="full-width">
              <mat-label>{{ getStructureTitle(key) }}</mat-label>
              @switch (getStructureType(key)) {
                @case ('input') {
                  <input matInput [(ngModel)]="data[key]" />
                }
                @case ('textarea') {
                  <textarea
                    matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="3"
                    cdkAutosizeMaxRows="5"
                    [(ngModel)]="data[key]"></textarea>
                }
              }
            </mat-form-field>
          }
        </mat-list>  
      }
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" (click)="cancel()">Cancel</button>
  <button mat-button color="accent" (click)="save()" cdKFocusInitial>Save</button>
</mat-dialog-actions>
