.title-wrapper {
  position: absolute;
  left: 50%;
  width: 40%;
  top: 10%;
  height: 40%;
  background-color: rgba(100, 100, 100, 0.5);
  border: 4px solid #69f0ae;
  padding: 1em;
  box-sizing: border-box;
}
.author-wrapper {
  position: absolute;
  left: 50%;
  width: 40%;
  top: calc(50% - 4px);
  height: 20%;
  background-color: rgba(100, 100, 100, 0.5);
  border: 4px solid #69f0ae;
  padding: 1em;
  box-sizing: border-box;
}