<edit-buttons
  [editing]="editing"
  [toggleView]="toggleView"
  [saveEvent]="saveEvent"
  [cancelEvent]="cancelEvent"
  [editNotes]="editNotes"
  (toggle)="setView($event)">
</edit-buttons>

<div class="panel-wrapper">
  @if (editing === false || toggleView === true) {
    <div class="panel--title" [innerHTML]="title"></div>

    <div class="panel--content-wrapper">
      <div class="panel--text text1" [class]="fontsize" [innerHTML]="text1"></div>
      <div class="panel--text text2" [class]="fontsize" [innerHTML]="text2"></div>
      <div class="panel--text text2" [class]="fontsize" [innerHTML]="text3"></div>
    </div>
  } @else {
    <input
      type="text"
      placeholder="Title"
      data-editing="title"
      [attr.data-required]="true"
      [value]="title" />
    <div class="panel--content-wrapper">
      <div
        contenteditable
        class="panel--text text1"
        data-editing="text1"
        [attr.data-required]="true"
        [innerText]="getCleanCode(text1)"></div>
      <div
        contenteditable
        class="panel--text text2"
        data-editing="text2"
        [attr.data-required]="true"
        [innerText]="getCleanCode(text2)"></div>
      <div
        contenteditable
        class="panel--text text3"
        data-editing="text3"
        [attr.data-required]="true"
        [innerText]="getCleanCode(text3)"></div>
    </div>
  }
</div>