<div class="panel-wrapper">
  @if (editing === false) {
    <div class="panel--title">{{ title }}</div>

    <div class="panel--content-wrapper">
      <div class="panel--text text1" [innerHTML]="text1"></div>
      <div class="panel--text text2" [innerHTML]="text2"></div>
      <div class="panel--text text2" [innerHTML]="text3"></div>
    </div>
  } @else {
    <input data-editing="title" contenteditable [value]="title">
    <button mat-flat-button (click)="saveEvent()">Save</button>

    <div class="panel--content-wrapper">
      <textarea class="panel--text text1" data-editing="text1" contenteditable [innerText]="text1"></textarea>
      <textarea class="panel--text text2" data-editing="text2" contenteditable [innerText]="text2"></textarea>
      <textarea class="panel--text text2" data-editing="text3" contenteditable [innerText]="text3"></textarea>
    </div>
  }
</div>