<div class="panel-wrapper">
  @if (editing === false) {
    <div class="panel--title">{{ title }}</div>

    <div class="panel--content-wrapper">
      <div class="panel--text left" [class]="fontsize" [innerHTML]="textLeft"></div>
      <div class="panel--text right" [class]="fontsize" [innerHTML]="textRight"></div>
    </div>
  } @else {
    <div class="panel--title" data-editing="title" contenteditable>{{ title }}</div>
    <button mat-flat-button (click)="saveEvent()">Save</button>

    <div class="panel--content-wrapper">
      <div class="panel--text left" data-editing="textLeft" contenteditable [innerText]="textLeft"></div>
      <div class="panel--text right" data-editing="textRight" contenteditable [innerText]="textRight"></div>
    </div>
  }
</div>