<div class="panel-wrapper">
  @if (editing === false) {
    <div class="panel--title" [innerHTML]="title"></div>

    <div class="panel--content-wrapper">
      <div class="panel--text left" [class]="fontsize" [innerHTML]="textLeft"></div>
      <div class="panel--text right" [class]="fontsize" [innerHTML]="textRight"></div>
    </div>
  } @else {
    <input data-editing="title" contenteditable [value]="title">
    <button class="btn save" mat-flat-button color="accent" (click)="saveEvent()">Save</button>
    <button class="btn cancel" mat-flat-button color="accent" (click)="cancelEvent()">Cancel</button>
    <button class="btn notes" mat-flat-button color="accent" (click)="editNotes()">Edit Notes</button>

    <div class="panel--content-wrapper">
      <div class="panel--text left" data-editing="textLeft" contenteditable [innerText]="textLeft"></div>
      <div class="panel--text right" data-editing="textRight" contenteditable [innerText]="textRight"></div>
    </div>
  }
</div>