<edit-buttons
  [toggleView]="toggleView"
  [saveEvent]="saveEvent"
  [cancelEvent]="cancelEvent"
  [editNotes]="editNotes"
  (toggle)="setView($event)">
</edit-buttons>

<div class="panel-wrapper">
  @if (editing === false) {
    <div class="panel--title" [innerHTML]="title"></div>

    <div class="panel--content-wrapper">
      <div class="panel--text left" [class]="fontsize" [innerHTML]="textLeft"></div>
      <div class="panel--text right" [class]="fontsize" [innerHTML]="textRight"></div>
    </div>
  } @else {
    <input
      type="text"
      placeholder="Title"
      data-editing="title"
      [attr.data-required]="true"
      [value]="title" />
    <div class="panel--content-wrapper">
      <div
        contenteditable
        class="panel--text left"
        data-editing="textLeft"
        [attr.data-required]="true"
        [innerText]="textLeft"></div>
      <div
        contenteditable
        class="panel--text right"
        data-editing="textRight"
        [attr.data-required]="true"
        [innerText]="textRight"></div>
    </div>
  }
</div>