<h2 mat-dialog-title>Notes Editor</h2>

<mat-dialog-content class="dialog-content">
  <mat-form-field class="full-width adjusted-height">
    <mat-label>Notes</mat-label>
    <textarea
      #notes
      matInput
      placeholder="Add notes"
      (input)="handleNotesChange(notes.value)"
    >{{ data.notes }}</textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button (click)="cancel()">Cancel</button>
  <button mat-flat-button (click)="save()">Save</button>
</mat-dialog-actions>