
.cover-wrapper {

  .cover--title {
    right: 75px;
    text-align: right;
    bottom: calc(60% + 1rem);
  }
  .cover--author,
  .cover--author-position {
    position: absolute;
    right: 75px;
    z-index: 100;
  }
  .cover--author {
    bottom: calc(60% - 3.6rem);
  }
  .cover--author-position {
    bottom: calc(60% + 1.6rem);
  }

  .cover--bio {
    position: absolute;
    top: calc(40% + 3rem);
    width: 40vw;
    z-index: 100;
    font-size: 1.5rem;

    &.left {
      left: 4rem;
    }
    &.right {
      right: 4rem;
    }
  }
  .cover--lower {
    position: absolute;
    left: 0;
    top: 40%;
    height: 60%;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.5);
    border-top: 8px solid #69f0ae;
    z-index: 10;
  }
}