
.panel-wrapper {

  .panel--content-wrapper {
    align-items: center;

    &.orient-left {
      flex-direction: row;
    }
    &.orient-right {
      flex-direction: row-reverse;
    }
  }

  .panel--text,
  .panel--image {
    box-sizing: border-box;
    display: inline-block;
    width: 48%;
  }
  .panel--image .img {
    background-color: #0f0f0f;
    border: 2px solid #0f0f0f;
    width: 100%;
  }
}
