
.panel-wrapper {

  .panel--files {
    font-size: 1rem;
    font-weight: normal;
    box-sizing: border-box;
    padding: 1rem;

    display: inline-block;
    width: 240px;
    min-width: 180px;
    background-color: rgba(100, 100, 100, 0.5);
    height: 100%;

  }
  .panel--editor {
    font-size: 1.5rem;
    font-weight: normal;
    margin-right: 1em;
    margin-left: 1em;
    box-sizing: border-box;

    display: inline-block;
    width: 78%;
    background-color: rgba(100, 100, 100, 0.5);
    height: 100%;
  }
}

.file {
  margin-bottom: 0.25em;

  &[selected=true] {
    color: #111111;
    background-color: #69f0ae;
  }
}

.trigger {
  color: #111111;
  background-color: #69aef0;
  margin-bottom: 0.25em;
}
