.edit-buttons {
  position: fixed;
  z-index: 10;
}

.ce-display,
.ce-editor {
  position: relative;
  z-index: 100;
}

.ce-editor {
  --edit-buttons-height: 3.3em;
  --editor-top: calc(var(--edit-buttons-height) + 1em);
  --editor-height: calc(var(--editor-top) + 1em);

  top: var(--edit-buttons-height);
  height: var(--editor-top);
}