<edit-buttons
  class="edit-buttons"
  [editing]="editing"
  [toggleView]="toggleView"
  [saveEvent]="saveEvent"
  [cancelEvent]="cancelEvent"
  [editNotes]="editNotes"
  (toggle)="setView($event)">
</edit-buttons>

@if (editing === false || toggleView === true) {
  <ce-display
    class="ce-display"
    [title]="title"
    [path]="path"
    [folder]="folder"
    [files]="files"
    [triggers]="triggers"
    [keys]="keys"
    [panel]="panel">
  </ce-display>
} @else {
  <ce-editor
    class="ce-editor"
    [title]="title"
    [path]="path"
    [folder]="folder"
    [files]="files"
    [triggers]="triggers"
    [keys]="keys"
    [panel]="panel"
    [notes]="notes"
    [editing]="editing"
    (save)="save.emit($event)">
  </ce-editor>
}
