
.panel-wrapper {

  .panel--files {
    font-size: 1rem;
    font-weight: normal;
    box-sizing: border-box;
    padding: 1rem;

    display: inline-block;
    width: 240px;
    min-width: 180px;
    background-color: rgba(100, 100, 100, 0.5);
    height: 100%;

  }
  .panel--editor {
    font-size: 1.5rem;
    font-weight: normal;
    margin-right: 1em;
    margin-left: 1em;
    box-sizing: border-box;

    display: inline-block;
    width: 78%;
    background-color: rgba(100, 100, 100, 0.5);
    height: 100%;
  }
}

.file {
  margin-bottom: 0.25em;

  &[selected=true] {
    color: #111111;
    background-color: #69f0ae;
  }
}

.trigger {
  color: #111111;
  background-color: #69aef0;
  margin-bottom: 0.25em;
}

.log-wrapper {
  position: fixed;
  right: 0;
  top: 9em;
  max-width: 60%;
  max-height: calc(100vh - 18em);

  background-color: rgba(100, 100, 100, 0.5);
  border: 1px solid silver;
  padding: 1em 0 1em 0.5em;

  &:not(.open) {
    min-width: 2em;
  }
  &.open {
    min-width: 30%;
  }

  .handle {
    cursor: pointer;
  }

  .log-container {
    overflow: auto;
    color: black;
    background-color: white;
    font-size: 10pt;

    height: 45em;
    width: calc(100% - 3.5em);
    margin-left: 0.5em;
    padding: 1em;

    ::ng-deep .log-warn {
      color: orange;
    }
    ::ng-deep .log-error {
      color: red;
    }
    ::ng-deep .log-info {
      color: skyblue;
    }
    ::ng-deep .log-log {
      color: grey;
    }
    ::ng-deep .log-warn,
    ::ng-deep .log-error {
      font-weight: bold;
    }
  
    ::ng-deep .linebreak {
      border-top: 1px solid silver;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
