.functionality {
  position: absolute;
  left: 2em;
  top: 1em;
}

.tags {
  margin: 0 1em;

  .tag-list-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1em;
    gap: 1em;
  
    .checkbox-margin {
      margin: 0 12px;
    }
  }
}

.talks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 1em;

  .talk-wrapper {
    display: flex;
    align-items: center;
    margin-top: 1em;

    .btn {
      margin-bottom: 0;
    }

    .status {

      &:not(.complete) {
        color: antiquewhite;
      }
      &.complete {
        color: #69f0ae;
      }
    }
  }

  .talk-pdf-wrapper {
    margin-left: 5.25em;
    margin-top: 0.25em;
    display: flex;
    gap: 0.5em;

    .red {
      color: red;
    }
    .green {
      color: #69f0ae;
    }
  }

  .talk-tags-wrapper {
    margin-left: 5.25em;
    margin-top: 0.25em;
    display: flex;
    gap: 0.5em;

    .button-like {
      background-color: var(--mdc-filled-button-container-color);
      color: var(--mdc-filled-button-label-text-color);;

      border: none;
      padding: 0.5rem 1rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      border-radius: 1rem;

      font-family: var(--mdc-filled-button-label-text-font, var(--mat-app-label-large-font));
      font-size: var(--mdc-filled-button-label-text-size, var(--mat-app-label-large-size));
      letter-spacing: var(--mdc-filled-button-label-text-tracking, var(--mat-app-label-large-tracking));
      text-transform: var(--mdc-filled-button-label-text-transform);
      font-weight: var(--mdc-filled-button-label-text-weight, var(--mat-app-label-large-weight));
    }
  }
}

.mat-blue {
  --mdc-filled-button-container-color: rgb(31, 123, 162);
}
