.functionality {
  position: absolute;
  left: 2em;
  top: 1em;
}

.functionality-wrapper {
  margin-left: 1.75em;

  .select-functionality {
    margin-left: 1em;
    padding: 0.25em 1em;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1em;

  .tags {
    flex-grow: 1;
    width: 30%;
  }
  .talks {
    flex-grow: 10;
    width: calc(70% - 1em);
  }
}

.tags {
  margin: 0 1em;
  padding: 1em;
  border-radius: 0.5em;
  background-color: #69f0ae22;
  box-sizing: border-box;

  .tag-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    gap: 1em;
  
    .checkbox-margin {
      margin: 0 12px;
    }

    .btn[data-weight="1"] { --size: 2; }
    .btn[data-weight="2"] { --size: 4; }
    .btn[data-weight="3"] { --size: 6; }
    .btn[data-weight="4"] { --size: 8; }
    .btn[data-weight="5"] { --size: 10; }
    .btn[data-weight="6"] { --size: 12; }
    .btn[data-weight="7"] { --size: 14; }
    .btn[data-weight="8"] { --size: 16; }
    .btn[data-weight="9"] { --size: 18; }

    .btn:nth-child(1n+1) { --bg-color: #3B82F6; --fg-color: #fff; }
    .btn:nth-child(2n+1) { --bg-color: #10B981; --fg-color: #fff; }
    .btn:nth-child(3n+1) { --bg-color: #F97316; --fg-color: #fff; }
    .btn:nth-child(4n+1) { --bg-color: #64748B; --fg-color: #fff; }
    .btn:nth-child(5n+1) { --bg-color: #FACC15; --fg-color: #000; }
    .btn:nth-child(6n+1) { --bg-color: #8B5CF6; --fg-color: #fff; }
    .btn:nth-child(7n+1) { --bg-color: #EC4899; --fg-color: #fff; }
    .btn:nth-child(8n+1) { --bg-color: #0891B2; --fg-color: #fff; }
    .btn:nth-child(9n+1) { --bg-color: #556677; --fg-color: #fff; }
    .btn:nth-child(10n+1) { --bg-color: #F1F5F9; --fg-color: #000; }

    .btn {
      --size: 4;
      --mdc-filled-button-container-height: calc(calc(var(--size) / 2) * 0.125em + 1.5em);
      font-size: calc(var(--size) * 0.25rem + 0.5rem);
      --mdc-filled-button-container-color: var(--bg-color);
      --mdc-filled-button-label-text-color: var(--fg-color);
    }
  }
}

.talks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 1em;

  .talk-wrapper {
    display: flex;
    align-items: center;
    margin-top: 1em;

    .btn {
      margin-bottom: 0;
    }

    .status {

      &:not(.complete) {
        color: antiquewhite;
      }
      &.complete {
        color: #69f0ae;
      }
    }
  }

  .talk-pdf-wrapper {
    margin-left: 5.25em;
    margin-top: 0.25em;
    display: flex;
    gap: 0.5em;

    .red {
      color: red;
    }
    .green {
      color: #69f0ae;
    }
  }

  .talk-tags-wrapper {
    margin-left: 5.25em;
    margin-top: 0.25em;
    display: flex;
    gap: 0.5em;

    .button-like {
      background-color: var(--mdc-filled-button-container-color);
      color: var(--mdc-filled-button-label-text-color);;

      border: none;
      padding: 0.5rem 1rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      border-radius: 1rem;

      font-family: var(--mdc-filled-button-label-text-font, var(--mat-app-label-large-font));
      font-size: var(--mdc-filled-button-label-text-size, var(--mat-app-label-large-size));
      letter-spacing: var(--mdc-filled-button-label-text-tracking, var(--mat-app-label-large-tracking));
      text-transform: var(--mdc-filled-button-label-text-transform);
      font-weight: var(--mdc-filled-button-label-text-weight, var(--mat-app-label-large-weight));
    }
  }
}

.mat-blue {
  --mdc-filled-button-container-color: rgb(31, 123, 162);
}
