<div class="outer-wrapper">
  <h1 class="title">Bob's Talks</h1>

  <div class="tags">
    <ng-container *ngFor="let tag of tags; let i = index;">
      <button [attr.aria-label]="tag.title + ' Tag'" class="btn" mat-flat-button [color]="selectedTag(tag)" (click)="filterTalks(tag)">
        {{ tag.title }}
      </button>
    </ng-container>
  </div>

  <div class="talks">
    @for (talk of filteredTalks; track talk; let i = $index;) {
      <div>
        <button [attr.aria-label]="'Edit ' + talk.title + ' Talk'" class="btn" mat-flat-button color="primary" [routerLink]="'/edit/' + talk.folder">
          <mat-icon>edit</mat-icon>
        </button>
        <button [attr.aria-label]="talk.title + ' Presentation'" class="btn" mat-flat-button color="accent" (click)="clickTalkEvent(talk)">
          <span>{{ i + 1 }}.</span>&nbsp;
          {{ talk.title }}
        </button>
      </div>  
    }
  </div>
</div>