.tags {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1em;

  .checkbox-margin {
    margin: 0 12px;
  }
}

.talks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .talk-wrapper {
    display: flex;
    align-items: center;
    margin-top: 1em;

    .btn {
      margin-bottom: 0;
    }

    .status {

      &:not(.complete) {
        color: antiquewhite;
      }
      &.complete {
        color: #69f0ae;
      }
    }
  }

  .talk-pdf-wrapper {
    margin-left: 5.25em;
    margin-top: 0.25em;
    display: flex;
    gap: 0.5em;

    .red {
      color: red;
    }
    .green {
      color: #69f0ae;
    }

    .anchor {
      --mdc-filled-button-container-color: #69f0ae;
      color: var(--mdc-filled-button-container-color, transparent);
      font-weight: bold;

      display: flex;
      align-items: center;
    }
  }
}
