<div class="outer-wrapper">
  <h1 class="title">Bob's Talks</h1>

  <div class="tags">
    <ng-container *ngFor="let tag of tags; let i = index;">
      <button class="btn" mat-flat-button [color]="selectedTag(tag)" (click)="filterTalks(tag)">
        {{ tag.title }}
      </button>
    </ng-container>
  </div>

  <div class="talks">
    <ng-container *ngFor="let talk of talks; let i = index;">
      <button class="btn" mat-flat-button color="accent" [routerLink]="'/talk/' + talk.folder">
        <span>{{ i + 1 }}.</span>&nbsp;
        {{ talk.title }}
      </button>
    </ng-container>
  </div>
</div>