/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  --navigation-width: 400px;
  --font--xxs: 0.8em;
  --font--xs: 1em;
  --font--normal: 1.5em;
  --font--xl: 1.8em;
  --font--xxl: 2.2em;

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #111111;
  color: #eeeeee;

  .font-xxs {
    font-size: var(--font--xxs) !important;
    line-height: calc(var(--font--xxs) * 1.5);
  }
  .font-xs {
    font-size: var(--font--xs) !important;
    line-height: calc(var(--font--xs) * 1.25);
  }
  .font-normal {
    font-size: var(--font--normal) !important;
    line-height: calc(var(--font--normal) * 0.75);
  }
  .font-xl {
    font-size: var(--font--xl) !important;
    line-height: calc(var(--font--xl) * 0.65);
  }
  .font-xxl {
    font-size: var(--font--xxl) !important;
    line-height: calc(var(--font--xxl) * 0.5);
  }
}

.anchor {
  --mdc-filled-button-container-color: #69f0ae;
  color: var(--mdc-filled-button-container-color, transparent);
  font-weight: bold;

  display: flex;
  align-items: center;
}

.outer-wrapper {
  padding: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);

  &:not(.talk) {
    overflow-y: scroll;
  }

  .inner-wrapper {
    margin-bottom: 8em;
  }

  font-size: 16px;

  .title {
    font-size: 2.5rem;
    margin: 0 auto 1rem auto;
    text-align: center;
  }

  .navigation {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    z-index: 200;
  }

  .slide-wrapper {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .bold {
    font-weight: bold;
  }
  .indent {
    margin-left: 2em;
  }
  .underline {
    text-decoration: underline;
  }
}

.file[selected=true] {
  .mdc-list-item__primary-text {
    color: #111111 !important;
  }
}

.btn {
  display: inline-block !important;
  border-radius: 0.5vh;
  font-size: 1.5vh;
  height: 4vh;
  min-width: 1vw;
  padding: 0 1vw;

  &.padded {
    margin-right: 1vw;
    margin-bottom: 1vw;  
  }

  .mat-icon {
    margin: 0 !important;
  }
}

.position {
  margin-right: 1em;
  margin-left: 0.5em;
}

.bio-header {
  margin-bottom: 0.5rem;
}
.bio-logo {
  width: 180px;
}

.editing-actions {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 1em;
  left: 1em;
  width: calc(100% - 2em);

  .btn.cancel,
  .btn.notes,
  .btn.save,
  .btn.toggle {
    --mdc-fab-container-shape: 5px;
    height: 36px;
  }
}

.mat-mdc-dialog-container {
  --mdc-dialog-subhead-color: #222222;
  --mdc-dialog-supporting-text-color: #222222;
  --mdc-dialog-container-color: #dddddd;

  .new-slide-title {
    color: #dddddd;
    padding: 0.5em;
    margin-bottom: 0.5em;
  }

  .new-slide-title,
  .mat-mdc-button-base {
    --mdc-filled-button-label-text-color: #dddddd;

    font-weight: bold;

    &.image-only,
    &.image-text {
      background-color: rgb(66, 66, 66);
    }

    &.cover-01,
    &.cover-slide-02 {
      background-color: rgb(66, 66, 88);
    }

    &.panel-single,
    &.panel-double,
    &.panel-triple {
      background-color: rgb(88, 66, 66);
    }

    &.code-editor {
      background-color: rgb(66, 88, 66);
    }
  }
  .mat-mdc-button:not(:disabled) {
    color: #000000;
    background-color: #69f0ae;
  }
}
