/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  --navigation-width: 400px;
  --font--xxs: 0.8em;
  --font--xs: 1em;
  --font--normal: 1.5em;
  --font--xl: 1.8em;
  --font--xxl: 2.2em;

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #111111;

  .font-xxs {
    font-size: var(--font--xxs) !important;
  }
  .font-xs {
    font-size: var(--font--xs) !important;
  }
  .font-normal {
    font-size: var(--font--normal) !important;
  }
  .font-xl {
    font-size: var(--font--xl) !important;
  }
  .font-xxl {
    font-size: var(--font--xxl) !important;
  }
}

.outer-wrapper {
  padding: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  font-size: 16px;

  .title {
    font-size: 2.5rem;
    margin: 0 auto 1rem auto;
    text-align: center;
  }

  .navigation {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    z-index: 200;
  }

  .slide-wrapper {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .bold {
    font-weight: bold;
  }
  .indent {
    margin-left: 2em;
  }
  .underline {
    text-decoration: underline;
  }
}

.file[selected=true] {
  .mdc-list-item__primary-text {
    color: #111111 !important;
  }
}

.btn {
  display: inline-block !important;
  border-radius: 0.5vh;
  font-size: 1.5vh;
  height: 4vh;
  margin-right: 1vw;
  margin-bottom: 1vw;
  min-width: 1vw;
  padding: 0 1vw;

  .mat-icon {
    margin: 0 !important;
  }
}

.position {
  margin-right: 1em;
  margin-left: 0.5em;
}

.bio-header {
  margin-bottom: 0.5rem;
}
.bio-logo {
  width: 180px;
}

.editing-actions {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 1em;
  left: 1em;
  width: calc(100% - 2em);

  .btn.cancel,
  .btn.notes,
  .btn.save,
  .btn.toggle {
    --mdc-fab-container-shape: 5px;
    height: 36px;
  }
}
