.control-wrapper {
  padding: 1rem;
}

.control-title {
  color: #69f0ae;
  font-family: Arial, sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  position: relative;

  .right {
    position: absolute;
    right: 0;
  }
}

.control-navigation--outer {
  background-color: rgb(88, 88, 88);
  padding: 1rem;
  height: calc(100vh - 9rem);
  display: inline-block;
  max-width: 24vw;
  overflow-y: scroll;

  .nav-button {
    margin-bottom: 1em;
    padding-left: 3em;
    text-indent: -2em;
    text-align: left;
  }
}