.control-wrapper {
  padding: 1rem;

  .control-inner-wrapper {
    display: flex;
    flex-direction: row;

    .control-content {
      display: flex;
      flex-direction: column;
      padding: 1em;

      .file-button {
        margin-right: 1em;
      }
    }
  }
}

.control-title {
  color: #69f0ae;
  font-family: Arial, sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  position: relative;

  .right {
    cursor: pointer;
    position: absolute;
    right: 0;
  }
}

.control-navigation--outer {
  background-color: rgb(88, 88, 88);
  padding: 1rem;
  height: calc(100vh - 9rem);
  display: inline-block;
  width: var(--navigation-width);
  overflow-y: scroll;

  .font-button {
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .nav-button {
    margin-bottom: 1em;
    padding-left: 3em;
    text-indent: -2em;
    text-align: left;
  }
}

.notes {
  background-color: rgb(88, 88, 88);
  color: white;
  padding: 1rem;
  margin-top: 1rem;
  width: calc(100vw - calc(var(--navigation-width) + 8em));
}

.separator {
  color: white;
  margin-right: 1em;
}

.resize-handle {
  height: calc(100vh - 7em);

  margin-left: 2px;

  .resize-handle--right,
  .resize-handle--left {
    background-color: rgb(105, 240, 174);
    display: inline-block;
    height: 100%;
    width: 4px;
  }
  .resize-handle--right {
    border-left: 1px dashed black;
  }
  
  &:hover {

    .resize-handle--left,
    .resize-handle--right {
      background-color: rgb(93, 159, 235);
    }
  }

  cursor: ew-resize;

  // these prevent text selection while dragging
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: background-color 0.2s ease-out, width 0.2s ease-out;

  &::after {
    content: "";
    display: block;
  
    height: 100%;
  
    width: 24px;
  
    position: absolute;
    right: -12px;
    z-index: 1;
  }
}