<div class="control-wrapper">
  <div class="control-title">
    <span>{{ deckTitle }}</span>
    <span class="right" (click)="close()"><mat-icon>close</mat-icon></span>
  </div>

  <div class="control-inner-wrapper">
    <nav class="control-navigation--outer">
      <div class="control-navigation--inner">
        @for (key of structure.ORDER; track key; let index = $index;) {
          <div class="btn-wrapper">
            <button
              mat-flat-button
              class="nav-button"
              [class.mat-accent]="getActive(key)"
              (click)="changePage(key)">
              {{ getTitle(key, index) }}
            </button>
          </div>
        }
      </div>
    </nav>

    <div class="resize-handle" (mousedown)="startResizing($event)">
      <div class="resize-handle--left">&nbsp;</div>
      <div class="resize-handle--right">&nbsp;</div>
    </div>

    <div class="control-content">
      <div class="fontsizes">
        <button mat-flat-button class="btn" (click)="triggerFontsizeChange('font-xxs')">XXS</button>
        <button mat-flat-button class="btn" (click)="triggerFontsizeChange('font-xs')">XS</button>
        <button mat-flat-button class="btn" (click)="triggerFontsizeChange('font-normal')">Normal</button>
        <button mat-flat-button class="btn" (click)="triggerFontsizeChange('font-xl')">XL</button>
        <button mat-flat-button class="btn" (click)="triggerFontsizeChange('font-xxl')">XXL</button>
        <span class="separator">|</span>
        <button mat-flat-button class="btn" (click)="triggerConsole('toggle-open')">Toggle Open</button>
        <button mat-flat-button class="btn" (click)="triggerConsole('clear')">Clear</button>
      </div>

      @if (deckSlide.type === 'code-editor') {
        <div class="action-buttons">
          @for (file of deckSlide.files; track file;) {
            <button
              mat-flat-button
              class="file-button"
              [class.mat-accent]="file === selectedFile"
              (click)="triggerFileChange(file)">
              {{ file }}
            </button>
          }
          @if (deckSlide.hasOwnProperty('triggers')) {
            <span class="separator">|</span>
            @for (trigger of deckSlide.triggers; track trigger;) {
              <button
              mat-flat-button
              color="primary"
              class="file-button"
              (click)="triggerFileSelection(trigger)">
              {{ trigger.title }}
              </button>
            }
          }
      </div>
      }
      <div class="notes font-normal" [innerHTML]="deckSlide.notes"></div>
    </div>
  </div>
</div>