<div class="control-wrapper">
  <div class="control-title">
    <span>{{ deckTitle }}</span>
    <span class="right" (click)="close()"><mat-icon>close</mat-icon></span>
  </div>

  <div class="control-inner-wrapper">
    <nav class="control-navigation--outer">
      <div class="control-navigation--inner">
        @for (key of structure.ORDER; track key; let index = $index;) {
          <div class="btn-wrapper">
            <button
              mat-flat-button
              class="nav-button"
              [class.mat-accent]="getActive(key)"
              (click)="changePage(key)">
              {{ getTitle(key, index) }}
            </button>
          </div>
        }
      </div>
    </nav>

    <div class="control-content">
      @if (deckSlide.type === 'code-editor') {
        <div class="triggers">
          @for (file of deckSlide.files; track file;) {
            <button
              mat-flat-button
              class="file-button"
              [class.mat-accent]="file === selectedFile"
              (click)="triggerFileChange(file)">
              {{ file }}
            </button>
          }
        </div>
      }
      <div class="notes" [innerHTML]="deckSlide.notes"></div>
    </div>
  </div>
</div>