<div class="panel-wrapper">
  <div class="panel--title">{{ title }}</div>

  <div class="panel--content-wrapper">
    <div class="panel--files">
      <mat-selection-list role="list">
        @for (file of files; track file) {
          <a
            mat-list-item
            class="file"
            [routerLink]=""
            [attr.selected]="file === selected"
            (click)="fileSelection(file)">
            {{ file }}
          </a>
        }
      </mat-selection-list>
      <mat-selection-list role="list">
        @for (trigger of triggers; track trigger) {
          <a
            mat-list-item
            class="trigger"
            [routerLink]=""
            (click)="triggerFile(trigger)">
            {{ trigger.title }}
          </a>
        }
      </mat-selection-list>
    </div>
    <div class="panel--editor">
      <ngx-monaco-editor class="editor" style="height: 100%;" [(ngModel)]="script" [options]="editorOptions"></ngx-monaco-editor>
    </div>
    <div #handleScript>
      <div [attr.src]="filepath"></div>
    </div>
  </div>

  <div class="log-wrapper" [class.open]="loggingOpen === true">
    <div class="handle" (click)="toggleLogging()">
      @if (loggingOpen === true) {
        <mat-icon>arrow_right</mat-icon>
      } @else {
        <mat-icon>arrow_left</mat-icon>
      }
    </div>
    <div class="panel-container-wrapper" [hidden]="loggingOpen === false">
      <div id="display-container" class="display-container" [hidden]="!panel"></div>

      <button class="log-clear" mat-flat-button (click)="clearLogging()">Clear Logs</button>
      <div class="log-container" [class.half]="!!panel">
        <pre [innerHTML]="logs"></pre>
      </div>
    </div>
  </div>
</div>