<div class="panel-wrapper">
  @if (editing === false) {
    <div class="panel--title" [innerHTML]="title"></div>

    <div class="panel--content-wrapper">
      <div class="panel--image">
        <img class="img" [class]="imageClass" [src]="image" [alt]="image" />
      </div>
    </div>
  } @else {
    <input data-editing="title" contenteditable [value]="title">
    <button class="btn save" mat-flat-button color="accent" (click)="saveEvent()">Save</button>
    <button class="btn cancel" mat-flat-button color="accent" (click)="cancelEvent()">Cancel</button>
    <button class="btn notes" mat-flat-button color="accent" (click)="editNotes()">Edit Notes</button>

    <div class="panel--content-wrapper">
      <div class="panel--image">
        <input data-editing="image" contenteditable [value]="image">
        <img class="img" [class]="imageClass" [src]="image" [alt]="image" />
      </div>
    </div>
  }
</div>