<edit-buttons
  [toggleView]="toggleView"
  [saveEvent]="saveEvent"
  [cancelEvent]="cancelEvent"
  [editNotes]="editNotes"
  (toggle)="setView($event)">
</edit-buttons>

<div class="panel-wrapper">
  @if (editing === false) {
    <div class="panel--title" [innerHTML]="title"></div>

    <div class="panel--content-wrapper">
      <div class="panel--image">
        <img class="img" [class]="imageClass" [src]="image" [alt]="image" />
      </div>
    </div>
  } @else {
    <input
      type="text"
      placeholder="Title"
      data-editing="title"
      [attr.data-required]="true"
      [value]="title" />
    <div class="panel--content-wrapper">
      <div class="panel--image">
        <div class="panel--editable-wrapper">
          <input
            type="text"
            placeholder="Image"
            data-editing="image"
            [attr.data-required]="true"
            [value]="image" />
          <input
            type="text"
            placeholder="Image Class"
            data-editing="imageClass"
            [attr.data-required]="false"
            [value]="imageClass" />
        </div>
        <img class="img" [class]="imageClass" [src]="image" [alt]="image" />
      </div>
    </div>
  }
</div>