.panel-wrapper {

  .panel--content-wrapper {

    .panel--image {
      box-sizing: border-box;
      width: calc(100% - 4em);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .panel--image .img {
      max-width: 60%;
      max-height: 100%;
    }
  }
}