
.panel-wrapper {
  width: calc(100% - 2em);
  height: calc(100% - 2em);

  ::placeholder {
    color: #69f0ae;
    opacity: 0.75;
  }

  .panel--title {
    position: absolute;
    top: 75px;
    left: 50px;
    width: calc(100% - 132px);
    font-weight: bold;
    font-size: 2.8em;
  }

  [data-editing="title"] {
    display: inline-block;
    box-sizing: border-box;

    background-color: #64646480;
    border: 1px solid rgb(118, 118, 118);
    color: #eee;
    font-weight: normal;
    font-size: 1em;

    margin-right: 1em;
    margin-left: 1em;
    padding: 1em;
    width: 33%;
  }

  .panel--editable-placed-wrapper {
    display: block;
    margin: 1em auto 0 auto;
    width: 60%;

    [data-editing] {
      display: block;
      box-sizing: border-box;
      background-color: #64646480;
      border: 1px solid rgb(118, 118, 118);
      color: #eee;
      font-weight: normal;
      font-size: 1em;
      margin-right: 1em;
      margin-left: 1em;
      padding: 1em;
      width: 100%;
    }
  }

  .panel--editable-image-wrapper {
    display: block;

    [data-editing] {
      display: block;
      box-sizing: border-box;
      background-color: #64646480;
      border: 1px solid rgb(118, 118, 118);
      color: #eee;
      font-weight: normal;
      font-size: 1em;
      margin-right: 1em;
      margin-left: 1em;
      padding: 1em;
      width: calc(100% - 2em);
    }
  }

  .panel--editable-wrapper {
    display: block;
    position: absolute;
    top: 0;
    width: 60%;

    [data-editing] {
      display: block;
      box-sizing: border-box;
      background-color: rgb(100, 100, 100);
      border: 1px solid rgb(118, 118, 118);
      color: #eee;
      font-weight: normal;
      font-size: 1em;
      margin-right: 1em;
      margin-left: 1em;
      padding: 1em;
      width: 100%;
    }
  }

  .btn {
    margin-right: 1em;
    margin-top: 0.75em;
  }

  .panel--content-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 4em;
    width: calc(100% - 12em);
    height: calc(100% - 18em);
    display: flex;
  }
  .panel--text {
    color: #eeeeee;
    margin-right: 1em;
    margin-left: 1em;
    box-sizing: border-box;
    font-weight: normal;

    display: inline-block;
    padding: 1em;
    background-color: rgba(100, 100, 100, 0.5);
    height: 100%;

    &:not([data-editing]) {
      font-size: var(--font--normal);
    }
    &[data-editing] {
      font-size: 1rem;
      white-space: pre-wrap;
    }
  }
}