
.outer-wrapper {
  padding: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  font-size: 16px;

  // .title {
  //   font-size: 2.5rem;
  //   margin: 0 auto;
  //   text-align: center;
  // }

  .navigation {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
  }

  .slide-wrapper {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.btn {
  color: gray !important;
  border-radius: 0.5vh;
  font-size: 1.5vh;
  height: 4vh;
  min-width: 1vw;
  margin-right: 1vw;
  padding: 0 2.5vw;
}
