<div class="outer-wrapper">
  <ng-container [ngSwitch]="type">
    <div class="slide-wrapper" *ngSwitchCase="'cover-slide-01'">
      <cover-01 [title]="page.title" [author]="page.author!" [html]="page.html || ''" [bio1]="page.bio1 || undefined" [bio2]="page.bio2 || undefined"></cover-01>
    </div>
    <div class="slide-wrapper" *ngSwitchCase="'cover-slide-02'">
      <cover-02 [title]="page.title" [author]="page.author!" [html]="page.html || ''"></cover-02>
    </div>

    <div class="slide-wrapper" *ngSwitchCase="'image-only'">
      <image-only [title]="page.title" [image]="page.image!" [imageClass]="page.imageClass || ''"></image-only>
    </div>
    <div class="slide-wrapper" *ngSwitchCase="'text-image'">
      <text-image [title]="page.title" [orientation]="page.orientation!" [text]="page.text!" [fontsize]="fontsizeSelected" [image]="page.image!"></text-image>
    </div>

    <div class="slide-wrapper" *ngSwitchCase="'panel-single'">
      <panel-single [title]="page.title" [text]="page.text!" [fontsize]="fontsizeSelected"></panel-single>
    </div>
    <div class="slide-wrapper" *ngSwitchCase="'panel-double'">
      <panel-double [title]="page.title" [textLeft]="page.textLeft!" [textRight]="page.textRight!" [fontsize]="fontsizeSelected"></panel-double>
    </div>
    <div class="slide-wrapper" *ngSwitchCase="'panel-triple'">
      <panel-triple [title]="page.title" [text1]="page.text1!" [text2]="page.text2!" [text3]="page.text3!" [fontsize]="fontsizeSelected" [notes]="page.notes!"></panel-triple>
    </div>

    <div class="slide-wrapper" *ngSwitchCase="'code-editor'">
      <code-editor
        [title]="page.title"
        [path]="path"
        [folder]="page.folder!"
        [files]="page.files!"
        [triggers]="page.triggers || []"
        [keys]="page.environment_keys || []"
        [panel]="page.panel"
        [external]="sendExternal"></code-editor>
    </div>

    <div class="slide-wrapper" *ngSwitchDefault="">NONE</div>
  </ng-container>

    <nav class="navigation">
      @if (control === false) {
        <button class="btn" mat-flat-button routerLink="/">
          <mat-icon>home</mat-icon>
        </button>
        <button class="btn" mat-flat-button (click)="home()">
          <mat-icon>first_page</mat-icon>
        </button>
        <button class="btn" mat-flat-button (click)="previous()">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button class="btn" mat-flat-button (click)="next()">
          <mat-icon>navigate_next</mat-icon>
        </button>
        <button class="btn" mat-flat-button (click)="end()">
          <mat-icon>last_page</mat-icon>
        </button>
      }
      <span class="position"><span>{{ slideIndex + 1}}</span> / <span>{{ structure.ORDER.length }}</span></span>
      @if (control === false) {
        <button class="btn" mat-flat-button (click)="openControlPanel()">
          <img src="./assets/images/remote.svg">
        </button>
      }
    </nav>
</div>
